.card__testimonial {
  max-width: 33rem;
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}
.card__testimonial .testimonial__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.card__testimonial .testimonial__header img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid violet;
}
.card__testimonial .testimonial__header .texts {
  color: hsl(210deg, 46%, 95%);
}
.card__testimonial .testimonial__header .texts span {
  color: hsl(0deg, 0%, 81%);
  opacity: 0.5;
}
.card__testimonial .testimonial__content .subtitle {
  margin-bottom: 2rem;
  font-size: 1.91rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 100%);
}
.card__testimonial .testimonial__content .paragraph {
  color: hsl(0deg, 0%, 81%);
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  overflow-x: hidden;
  background-color: hsl(210deg, 46%, 95%);
}

.testimonials {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-block: 5rem;
  max-width: 102.4rem;
}
.testimonials .card__testimonial-1 {
  background-color: hsl(263deg, 55%, 52%);
  position: relative;
  z-index: 100;
}
.testimonials .card__testimonial-1::before {
  content: "";
  width: 104px;
  height: 102px;
  display: block;
  position: absolute;
  top: 0;
  right: 26px;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.testimonials .card__testimonial-2 {
  background-color: hsl(217deg, 19%, 35%);
}
.testimonials .card__testimonial-2 .paragraph {
  color: hsl(210deg, 46%, 95%);
  font-weight: 300;
}
.testimonials .card__testimonial-3 {
  color: hsl(219deg, 29%, 14%);
  background-color: hsl(0deg, 0%, 100%);
}
.testimonials .card__testimonial-3 .testimonial__header .texts {
  color: inherit;
}
.testimonials .card__testimonial-3 .testimonial__header .texts span {
  color: inherit;
}
.testimonials .card__testimonial-3 .testimonial__content .subtitle {
  color: hsl(219deg, 29%, 14%);
}
.testimonials .card__testimonial-3 .testimonial__content .paragraph {
  color: hsl(219deg, 29%, 14%);
}
.testimonials .card__testimonial-4 {
  background-color: hsl(219deg, 29%, 14%);
}
.testimonials .card__testimonial-5 {
  color: hsl(219deg, 29%, 14%);
  background-color: hsl(0deg, 0%, 100%);
}
.testimonials .card__testimonial-5 .testimonial__header .texts {
  color: inherit;
}
.testimonials .card__testimonial-5 .testimonial__header .texts span {
  color: inherit;
}
.testimonials .card__testimonial-5 .testimonial__content .subtitle {
  color: hsl(219deg, 29%, 14%);
}
.testimonials .card__testimonial-5 .testimonial__content .paragraph {
  color: hsl(219deg, 29%, 14%);
}
.testimonials .card__testimonial-2 .testimonial__header img, .testimonials .card__testimonial-3 .testimonial__header img, .testimonials .card__testimonial-5 .testimonial__header img {
  border: none;
}

@media (min-width: 1024px) {
  .testimonials {
    height: 90vh;
    display: grid;
    place-content: center;
    align-content: center;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: "card1   card1   card2    card5" "card3   card4   card4    card5";
  }
  .testimonials .card__testimonial {
    max-width: 60rem;
  }
  .testimonials .card__testimonial-1 {
    grid-area: card1;
    height: 100%;
  }
  .testimonials .card__testimonial-2 {
    grid-area: card2;
    height: 100%;
  }
  .testimonials .card__testimonial-3 {
    grid-area: card3;
    height: 100%;
  }
  .testimonials .card__testimonial-4 {
    grid-area: card4;
  }
  .testimonials .card__testimonial-5 {
    grid-area: card5;
    height: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
